# Treat all files as Python
* linguist-language=Python

# Alternatively, treat only specific file types as Python
*.html linguist-language=Python
*.css linguist-language=Python
*.js linguist-language=Python
*.txt linguist-language=Python

# Marking certain directories or files as vendored to ignore them in language statistics
static/* linguist-vendored
node_modules/* linguist-vendored
migrations/* linguist-vendored
